<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MI PRIMERA APPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-slides pager="true">
    <ion-slide>
      <h2> Menu principal</h2>
    </ion-slide>
    <ion-slide>
      <h2>Clinica diVINA</h2>
    </ion-slide>
    <ion-slide>
      <h2>Hospital San Miguel</h2>
    </ion-slide>
  </ion-slides>
</ion-content>
